/.idea
/*.iml
/kxmall-admin-api/target
/kxmall-biz/target
/kxmall-core/target
/kxmall-data/target
/kxmall-admin/target
/*.log
/*.gz
/kxmall-admin-api/*.iml
/kxmall-app-api/*.iml
/kxmall-service-message/target
/kxmall-admin-api/kxmall-admin-api.iml
/kxmall-biz/kxmall-biz.iml
/kxmall-core/kxmall-core.iml
/kxmall-data/kxmall-data.iml
/kxmall-admin/kxmall-admin.iml
/kxmall-plugin-core/kxmall-plugin-core.iml
/kxmall-plugin-core/target
/kxmall-app-api/target
