/.idea
/*.iml
/kxmall-admin/target
/kxmall-admin-api/target
/kxmall-app-api/target
/kxmall-common/target
/kxmall-framework/target
/kxmall-generator/target
/kxmall-system/target
/logs/*.log
/*.log
/*.gz
/kxmall-admin/kxmall-admin.iml
/kxmall-admin-api/kxmall-admin-api.iml
/kxmall-admin-api/*.iml
/kxmall-app-api/*.iml
/kxmall-common/kxmall-common.iml
/kxmall-framework/kxmall-framework.iml
/kxmall-generator/kxmall-generator.iml
/kxmall-system/kxmall-system.iml
