/.idea
/*.iml
/kxmall-admin-api/target
/kxmall-common/target
/kxmall-system/target
/kxmall-framework/target
/kxmall-admin/target
/*.log
/*.gz
/kxmall-admin-api/*.iml
/kxmall-app-api/*.iml
/kxmall-service-message/target
/kxmall-admin-api/kxmall-admin-api.iml
/kxmall-common/kxmall-biz.iml
/kxmall-framework/kxmall-core.iml
/kxmall-system/kxmall-data.iml
/kxmall-admin/kxmall-admin.iml
/kxmall-plugin-core/kxmall-plugin-core.iml
/kxmall-plugin-core/target
/kxmall-app-api/target
