<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kxmall.product.mapper.KxStoreProductAttrMapper">

    <resultMap type="com.kxmall.product.domain.KxStoreProductAttr" id="WmStoreProductAttrResult">
        <result property="id" column="id"/>
        <result property="productId" column="product_id"/>
        <result property="attrName" column="attr_name"/>
        <result property="attrValues" column="attr_values"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="isDel" column="is_del"/>
    </resultMap>


</mapper>
