<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kxmall.user.mapper.KxUserLevelMapper">

    <resultMap type="com.kxmall.user.domain.KxUserLevel" id="WmUserLevelResult">
        <result property="id" column="id"/>
        <result property="merId" column="mer_id"/>
        <result property="name" column="name"/>
        <result property="money" column="money"/>
        <result property="validDate" column="valid_date"/>
        <result property="isForever" column="is_forever"/>
        <result property="isPay" column="is_pay"/>
        <result property="isShow" column="is_show"/>
        <result property="grade" column="grade"/>
        <result property="discount" column="discount"/>
        <result property="image" column="image"/>
        <result property="icon" column="icon"/>
        <result property="explain" column="explain"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDel" column="is_del"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>


</mapper>
